:root {
   --title-text-color: #212121;
   --accent-color: #2196f3;
   --primary-white-color: #ffffff;
   --primaty-text-color: #757575;
   --title-text-color: #212121;
   --bg-team-color: #f5f4fa;
   --bg-color:#2f303a;
   --icon-color: #AFB1B8;
   --hover-bg: #188CE8;
   --form-border-color: rgba(33, 33, 33, 0.2);
   

   --cubic-bezier-primary:cubic-bezier(0.4, 0, 0.2, 1);

}
h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    padding: 0;
}


.visually-hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }



body {
    background-color: #ffffff;
    color: var(--primaty-text-color);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

section {
    margin-right: auto;
    margin-left: auto;
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.list {
    list-style: none;

    margin: 0px;
    padding: 0px;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

    /* outline: 2px solid red; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* CSS для Index.html */

/* Хедер index.html і portfilio.html*/
.header {
    border-bottom: 1px solid #ececec;
}

.navigation {
    display: flex;
    
}
.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    cursor: pointer;
}
.logo__web{
    padding-top: 24px;
    padding-bottom: 25px;

    color: #2196f3; 
    
}

.logo__studio{
    padding-top: 24px;
    padding-bottom: 25px; 

    color: #000000;  
}

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav__list{
    display: flex;
    align-items: center;
}

.site-nav__item:not(:last-child){
    margin-right: 50px;
}

.site-nav__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--cubic-bezier-primary); 

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
    
}
.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color); 
    
}

.site-nav__link--current {
    color: var(--accent-color);

}

.site-nav__link--current:after {
    position: absolute;
    bottom: 0;

    display: block;
    content: "";
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;

}
/* Контакти */

.contacts {
    display: flex;
    margin: 0px;
    margin-left: auto;
    align-items: center;
}

.contacts__item:not(:last-child){
    margin-right: 50px;
}
.contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--cubic-bezier-primary); 

    color: var(--primaty-text-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
}

.contacts__icon {
    fill: currentColor;
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color); 
} 
/* Мейн */
/* фон герою додав щоб було видно заголовок */

/* Герой */
.hero {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--bg-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
        url(../images/herobg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
}

.hero__title {
    height: 120px;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    color: #ffffff; 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    padding: 10px 32px;
    border: 0px solid transparent;
    border-radius: 4px;

    transition: background-color 250ms var(--cubic-bezier-primary), 
                box-shadow 250ms var(--cubic-bezier-primary); 

    background-color: var(--accent-color); 
    color: var(--primary-white-color);   
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.hero__button:hover,
.hero__button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

 /* Переваги */
.advantages {
    margin-right: auto;
    margin-left: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
 .advantages__list {
    display: flex;
 }

 .advantages__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
 }


 .avantages__item {
    width: calc((100% - 3 * 30px)/4);
    margin-right: 30px;
 }
 
 .avantages__item:last-child {
    margin-right: 0;
 }

.advantages__secondary-title {
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages__text {
    margin: 0px;

    font-size: 14px;
    line-height: 1.71;
}

/* Чим ми займаємось */


.section__title {
    margin-top: 0px;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.price {
    display: flex;
}

.price__item {
    position: relative;
    width: calc((100%-60px)/3);
}

.price__item:not(:last-child) {
    margin-right: 30px;
}

.section.list {
    padding-top: 0px;
    padding-bottom: 94px; 
}

.price__title {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);

    

}

/* Наша команда */
.team {
    background-color: #f5f4fA;;
}

.team__list {
    display: flex;
}

.team-cards {
    background: #ffffff;
    width: calc((100%-90px)/4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-cards:not(:last-child) {
    margin-right: 30px;
}

.team-cards__text-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.team-cards__title {
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center; 
}

.team-cards__text {
    margin: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-cards__net {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-cards__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--icon-color);
    cursor: pointer;

    transition: color 250ms var(--cubic-bezier-primary),
                background-color 250ms var(--cubic-bezier-primary);
}

.team-cards__icon {
    fill: currentColor;
}

.team-cards__link:hover,
.team-cards__link:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}


/* Постійні клієнти */
.clients {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients__item {
    width: calc((100% - 5*30px) / 6);
    height: 92px;  
   
}

.clients__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: var(--icon-color);

    transition: color 250ms var(--cubic-bezier-primary),
                border-color 250ms var(--cubic-bezier-primary);
}

.clients__icon {
    fill: currentColor;
}


.clients__link:hover,
.clients__link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}


/* Футер index.html і portfilio.html*/
.footer{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--bg-color);
}
.footer__container {
    display: flex;
    align-items: baseline;
}


.footer__address-wrapper {
    margin-right: 70px;
}
.logo-footer{
    display: inline-block;
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    text-decoration: none;
    cursor: pointer;
}

.footer__maps-link {
    padding-right: 25px;
}

.footer__maps-link,
.footer__contact-link {
    display: inline-block;
    
}

.logo-web-footer{
    color: #2196f3; 
}

.logo-studio-footer{
    color: #ffffff; 
}

.footer__maps-link {
   
    transition: color 250ms var(--cubic-bezier-primary);

    color: #ffffff;
    font-style: normal;
    font-weight: 400; 
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    cursor: pointer;
}

.footer__contact-link {
    transition: color 250ms var(--cubic-bezier-primary);

    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    cursor: pointer;
}

.footer__address-item:not(:last-child){
    margin-bottom: 9px;
}


.footer__maps-link:hover,
.footer__contact-link:hover {
    color: var(--accent-color);
}

.footer-maps-link:focus,
.footer-contact-link:focus {
    color: var(--accent-color);
}

.footer__follow-list {
    display: flex;

}

.footer__folow-title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__follow-item {
    display: flex;
    width: 44px;
    height: 44px;
}

.footer__follow-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    transition: color 250ms var(--cubic-bezier-primary),
                background-color 250ms var(--cubic-bezier-primary);

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primary-white-color);
    cursor: pointer;

   
}

.footer__follow-list {
    display: flex;
    gap: 10px;
}

.footer__follow-icon {
    fill: currentColor;
}

.footer__follow-link:hover,
.footer__follow-link:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.footer__subscribe {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 12px;
    
    margin-left: auto;   
}

.footer__subscribe-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.footer__subscribe-block {
    width: 570px;
    margin-left: auto;
   
}

.footer__subscribe-label {
    width: 100%;
}

.footer__subscribe-email {
    padding: 15px 16px 15px 16px;
    width: 100%;

    transition:  border-color 250ms var(--cubic-bezier-primary);

    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

}


.footer__subscribe-email:hover,
.footer__subscribe-email:focus {
    border-color:var(--accent-color);
}

.footer__subscribe-button {
    display: flex;
    align-items: center;
    gap: 10px;

    max-height: 50px;
    padding: 10px 28px;
    border: 0px solid transparent;
    border-radius: 4px;

    transition: background-color 250ms var(--cubic-bezier-primary), 
                box-shadow 250ms var(--cubic-bezier-primary); 

    background-color: var(--accent-color); 
    color: var(--primary-white-color);   
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.footer__subscribe-icon {
  fill: currentColor;
}


/* CSS для portfolio.html */

.portfolio-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    background: var(--primary-white-color);
    
}
.portfolio-button-filter.first {
    padding-right: 25px;
    padding-left: 25px;
}

.portfolio-button-filter {
    padding: 6px 22px;

    transition: color 250ms var(--cubic-bezier-primary),
                background-color 250ms var(--cubic-bezier-primary),
                border-radius 250ms var(--cubic-bezier-primary),
                box-shadow 250ms var(--cubic-bezier-primary);

    color: #212121;
    background-color: #f5f4fA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    border: 0px solid transparent;
    border-radius: 4px;
}

.portfolio-button-item:not(:last-child) {
    margin-right: 8px;
}


.portfolio-button-filter:hover,
.portfolio-button-filter:focus {
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 4px;
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap; 
}

.portfolio-list-link {
    display: block;
    text-decoration: none;
    color: inherit;

    transition: box-shadow 250ms var(--cubic-bezier-primary); 
}

.portfolio-sub {
    position: relative;
    overflow: hidden;
}

.portfolio-sub-overlay {
    position: absolute;
    transform: translateY(101%);
    transition: transform 250ms var(--cubic-bezier-primary), 
                opacity 250ms var(--cubic-bezier-primary);  
    opacity: 0;
    
    pointer-events: none;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: var(--hover-bg);  
}

.portfolio-sub-text {
    font-size: 18px;
    line-height: 1.5;
    color: var(--primary-white-color);
}

.portfolio-list-link:hover .portfolio-sub-overlay,
.portfolio-list-link:focus .portfolio-sub-overlay {
    transform: translate(0);
    opacity: 1; 
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item{
    position: relative;
    width: calc((100% - 2*30px)/3);
    border: 1px solid #EEEEEE;
}

.portfolio-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}


.portfolio-title {
    margin-top: 0px;
    margin-bottom: 4px;
   
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text { 
    margin: 0px;

    font-size: 16px;
    line-height: 1.9;
}

.portfolio-list-text {
    padding: 20px 24px;
}
    
/*Модальне вікно*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transform: scale(1);
    transition: transform 1000ms var(--cubic-bezier-primary),
                 opacity 1000ms var(--cubic-bezier-primary);
   
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;

    padding: 40px;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden {
    transform: scale(0);
    transition: transform 1000ms var(--cubic-bezier-primary),
                opacity 1000ms var(--cubic-bezier-primary),
                visibility 1000ms var(--cubic-bezier-primary);

}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color:var(--title-text-color);
    outline: none;
    cursor: pointer;
}

.icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: fill 250ms var(--cubic-bezier-primary);

    fill: currentColor;
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
    fill: var(--accent-color);
}

.modal__form {
    display: flex;
    flex-direction: column;
    
}


.modal__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}


.modal__label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--primaty-text-color);
}

.modal__label-comment {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--primaty-text-color);
}


.modal__input{
    width: 100%;
    height: 40px;
    padding-right: 12px;
    padding-left: 42px;

    transition: fill 250ms var(--cubic-bezier-primary), 
                border-color 250ms var(--cubic-bezier-primary);

    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    outline: none;
}

.modal__input-wrapper{
    position: relative;
    display: block;
    width: 100%;
    margin-top: 4px;
}

.modal__input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill 250ms var(--cubic-bezier-primary), 
                border-color 250ms var(--cubic-bezier-primary);
}

.modal__input:focus,
.modal__input:focus + .modal__input-icon {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.modal__comment {
    display: block;
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;

    transition: fill 250ms var(--cubic-bezier-primary), 
                border-color 250ms var(--cubic-bezier-primary);

    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    outline: none;
}

.modal__comment:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.modal__comment:placeholder-shown {
    color: rgba(117, 117, 117, 0.5);
}



.modal__checkbox-label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 30px;
   
    font-size: 14px;
    line-height: 1.71;
    color: var(--primaty-text-color);
    
}
.modal__checkbox {
    appearance: none;
}


.modal__checbox-castom{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    transition: background-color 250ms var(--cubic-bezier-primary),
                border-color 250ms var(--cubic-bezier-primary);
    border-radius: 2px;
    cursor: pointer;
   
}
.modal__checkbox-icon {
    fill: var(--primary-white-color);
    border-radius: 2px;
  
}



.modal__checkbox:checked + .modal__checbox-castom {
    background-color: var(--accent-color);
    border-color: transparent;
}

.modal__checkbox-link {
    color: var(--accent-color);
    text-decoration: underline;
    outline: none;
}

.modal__checkbox-link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    z-index: 1;
}

.form-button {
    width: 200px;
    height: 50px;
    margin: auto;
    padding: 10px 32px;
    border: 0px solid transparent;
    border-radius: 4px;

    transition: background-color 250ms var(--cubic-bezier-primary), 
                box-shadow 250ms var(--cubic-bezier-primary); 

    background-color: var(--accent-color); 
    color: var(--primary-white-color);   
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    outline: none;
    
}

.form-button:hover,
.form-button:focus {
    background: var(--hover-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
  