.portfolio-buttons {
    display: flex;
    justify-content: center;
    gap: 8px
;
    margin-bottom: 50px;

    background: var(--primary-white-color);
    
}

.portfolio-button-filter.first {
    padding-right: 25px;
    padding-left: 25px;
}

.portfolio-button-filter {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    color: var(--title-text-color);
    background-color: var(--bg-filter-color);
}

.portfolio-button-filter:hover,
.portfolio-button-filter:focus {
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 4px;
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    
}