h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    padding: 0;
}


body {
    background-color: $color-white-primary;
    color: $color-text-primary;

    font-family: $font-family-primaty;
    letter-spacing: 0.03em;
}

section {
    margin-right: auto;
    margin-left: auto;
    padding-top: 94px;
    padding-bottom: 94px;
    
}